.Btn__theme
  +circle(50px)
  border: none
  margin-right: 5px
  border: 1px solid white

  &--0
    background-image: linear-gradient(135deg, #5663ff 10%, #12978b 100%)

  &--1
    background-image: linear-gradient(180deg, #1E1E20 10%, #1E1E20 100%)

  &--2
    background-image: linear-gradient(135deg, #cc88cf 10%, #965388 100%)

  &--3
    background-image: linear-gradient(135deg, #03677e 10%, #094B60 100%)

.Theme--0
  --color-highlight: #00ffe7
  --color-gradient: linear-gradient(135deg, #5663ff 10%, #12978b 100%)
  --color-header: rgba(47, 26, 119, 0.86)
  --color-inverse: rgba(black, 0.4)
  --color-card: #{rgba(0, 0, 0, 0.1)}

.Theme--1
  --color-highlight: #8e95c7
  --color-gradient: linear-gradient(180deg, #1E1E20 10%, #1E1E20 100%)
  --color-header: #{rgba(27, 27, 27, 0.95)}
  --color-inverse: #{rgba(white, 0.4)}
  --color-card: #{rgba(255, 255, 255, 0.03)}

.Theme--2
  --color-highlight: #561a54
  --color-gradient: linear-gradient(135deg, #cc88cf 10%, #965388 100%)
  --color-header: #{rgba(86, 26, 84, 0.8)}
  --color-inverse: #{rgba(white, 0.4)}
  --color-card: #{rgba(0, 0, 0, 0.1)}

.Theme--3
  --color-highlight: #68E9FB
  --color-gradient: linear-gradient(135deg, #03677e 10%, #094B60 100%)
  --color-header: #{rgba(9,75,96, 0.8)}
  --color-inverse: #{rgba(white, 0.4)}
  --color-card: #{rgba(0, 0, 0, 0.1)}
