$material-icons-font-path: '~material-icons/iconfont/'
@import '~material-icons/iconfont/material-icons.scss'
@import './modules'
@import './partials/_base'

*
  box-sizing: border-box

body,
html
  min-width: 300px
  min-height: 100%

html
  background-attachment: fixed

body
  margin: 0
  background: #5663ff
  color: $color-text-default
  font-family: $font-family-base

a
  text-decoration: none
  color: $color-links

h1, h2, h3, h4, h5, h6
  font-family: $font-family-mono
  letter-spacing: 1px

h1, h2
  font-size: 26px
  margin-top: 0

h2
  font-size: 16px
  color: var(--color-highlight)

ul,
ol
  padding: 0
  margin: 0
  list-style: none

  li
    margin: 3px 0
